.main{
    padding:0;
    margin:0;
    height: 100vh;
    display: flex;
    flex-direction: column;
    font-family: font1;
    overflow-y: hidden;
    overflow-x: hidden;
}

.nav{
    display: flex;
    align-items: center;
    padding: 10px 20px;
    background-color: #d52323;
    color:white;
    box-shadow: 0 6px 20px 4px rgba(0, 0, 0, 0.4);
}

.container-fluid{
    width: 100vw;
    height: 100vh;
}

.logo{
    font-size:24px;
    font-weight: bold;
    display: flex;
    align-items: center;
}

.tomato-logo{
    width: 40px;
    height: auto;
}

.menu{
    display: flex;
    margin-left: auto;
}

.menu span{
    margin: 0 10px;
    cursor: pointer;
    transition: 0.25s;
}

.menu span:hover{ 
    color: #fd966d;
}

.content{
    flex: 1;
    display: flex;
}

.sidebar{
    background-color: #701111;
    padding: 20px;
    height: 90vh;
    flex: 0 0 33.33%; 
    width: 30vw;
    box-shadow: 0px 6px 10px 0px rgba(0, 0, 0, 0.4) inset;
}

.pomodoro-list{
    background-color: #f3f3f3;
    border-radius: 10px;
    padding: 15px;
}

.pomodoro-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
    color: #ff4d4d;
    font-weight: bold;
    font-size: 25px;
}

.add-btn{
    background-color: #d52323;
    border: none;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    padding-left: 20px;
    color: white;
    font-size: 18px;
    font-weight: bold;
    cursor: pointer;
    text-align: center;
    transition: 0.25s;
}

.pomodoro-item{
    background-color: #d52323;
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 5px;
    box-shadow: 0px 6px 10px 0px rgba(0, 0, 0, 0.4);
} 

.interface{
    background-color: #ffd4d4;
    padding: 20px;
    height: 90vh;
    width: 66vw;
    display: flex;
    flex: 1;
    flex-direction: column;
    align-items: center;
    box-shadow: 0px 6px 10px 0px rgba(0, 0, 0, 0.4) inset;
}

.buttons{
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
    width: 100%;
}

.buttons button{
    background-color: #d52323;
    border: none;
    border-radius: 20px;
    padding: 10px 20px;
    color:white;
    font-size: 16px;
    cursor: pointer;
    margin: 0 10px;
    transition: 0.25s;
}

.buttons button:hover{
    background-color: #fd966d;
    color: #d52323;
}

.short-break-btn, .long-break-btn{
    background-color: #ff8080;
}

.timer{
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 1;
    justify-content: center;
}

.circle{
    width: 600px;
    height: 600px;
    background-color: #ff4d4d;
    border-radius: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    position: relative;
}

.time{

    font-size: 50px;
}

.start-pause-btn, .reset-btn{
    background-color: #d52323;
    border: none;
    border-radius: 20px;
    padding: 10px 20px;
    color: white;
    font-size: 20px;
    cursor: pointer;
    margin-top: 10px;
    transition: 0.25s;
    max-width: 100px;
}


.settings {
    font-size: 20px;
    position: absolute;
    bottom: 10px;
}

